@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400..700&display=swap');


@view-transition {
   navigation: auto;
}

@layer reset, theme, layout;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }
}

@layer theme {
	:root {
		--dark: hwb(345 12% 86%);
		--light: hwb(0 100% 0%);
		--brand: hwb(357.71 30.05% 3.25%);
		--secondary: hwb(204.44 23.53% 65.88%);
		
		--spacer-1: 0.25rem;
		--spacer-2: 0.5rem;
		--spacer-3: 1rem;
		--spacer-4: 1.5rem;

		--background: var(--light);
		--foreground: var(--dark);

		--link-color: hwb(212 16% 0%);
	}

	html {
		font-family: "Raleway", system-ui, sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		scroll-behavior: smooth;
	}

	body {
		background-color: var(--background);
		color: var(--foreground);
	}

	header {
		> a:first-of-type {
			color: var(--brand);
			display: flex;
			align-items: center;
			gap: var(--spacer-3);
			text-decoration: none;
			font-size: 1.5rem;
			font-weight: 700;

			picture {
				img {
					height: 2.69rem;
					width: auto;
				}
			}

			&:hover {
				color: var(--secondary)
			}
		}

		nav {
			a {
				text-decoration: none;
				font-weight: 700;
				color: var(--secondary);
				text-decorationL: none;

				&:hover {
					color: var(--brand)
				}
			}
		}
	}

	main {
		> img {
			color: var(--foreground);
			max-inline-size: 100%;
			height: auto;
		}
	}

	a {
		color: var(--link-color);
	}

}

@layer layout {
	body {
		margin: 0;
		padding: 0;
		min-block-size: 100%;
		min-height: 100dvh;

		> div {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: var(--spacer-3);

			@media screen and (min-width: 768px) {
				grid-template-columns: repeat(12, 1fr);
			}
		}
	}

	header {
		display: flex;
		justify-content: space-between;
	}

	header, main, footer {
		grid-column: span 4;
		grid-template-columns: subgrid;
		padding-inline: var(--spacer-3);
		padding-block: var(--spacer-2);

		@media screen and (min-width: 768px) {
			grid-column: span 12;
		}
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: var(--spacer-4);
	}
}